<div class="filter_container">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Genre:</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-form-field>
        <mat-label>Genre:</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field></mat-grid-tile
    >
    <mat-grid-tile
      ><mat-form-field>
        <mat-label>Quality:</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field></mat-grid-tile
    >
    <mat-grid-tile
      ><mat-form-field>
        <mat-label>language:</mat-label>
        <mat-select>
          <mat-option value="option">Option 1</mat-option>
          <mat-option value="option">Option 2</mat-option>
          <mat-option value="option">Option 3</mat-option>
        </mat-select>
      </mat-form-field></mat-grid-tile
    >
    <mat-grid-tile>
      <section class="user-rating-container">
        <div class="user-rating-headding-container">
          <label id="user-rating-name" class="user-rating-name"
            >User Rating</label
          >
          <label class="user-rating-value">{{ slider.value }}</label>
        </div>
        <mat-slider
          class="user-rating-slider"
          [max]="9"
          [min]="0"
          [step]="1"
          [discrete]="true"
          [showTickMarks]="true"
        >
          <input matSliderThumb [(ngModel)]="ratingValue" #slider />
        </mat-slider>
      </section>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button matTooltip="Clear All Filters!">
        Clear Filters
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
